<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profit.ru</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <div class="vagina" th:fragment="content">
        <div class="containterf">
            <footer align="center">
                <h1>Для заказа и уточнения вопросов позвоните нам, напишите на почту или в соцсети.</h1> <br> <br>
                <span>Телефон: +7 901 207 12 62</span><br> <br>
                <span>E-mail: profit@info.com</span>     
            </footer>
        </div>
    </div>
    
</body>
</html>